nav {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: $Dim;
    ul {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        li {
            width: 75%;
            cursor: pointer;
            font-size: 36px;
            font-weight: 400;
            text-align: right;
            color: $Foreground;
            padding: 10px 50px;
            letter-spacing: 5px;
            font-family: $Raleway;
            text-transform: uppercase;
            &:hover {
                color: $Red;
                text-shadow: 1px 1px 1px black;
            }
            @include Responsive {
                padding: 5% 1%;
                font-size: 5rem;
            }
        }
    }
}