#player {
    #player-pannel {
        height: 100%;
        display: flex;
        padding: 0 100px;
        align-items: center;
        background-color: $Black;
        justify-content: space-between;
        @include Responsive {
            padding: 0 10%;
        }
        #player-master {
            i {
                cursor: pointer;
                font-size: 72px;
                @include Responsive {
                    font-size: 5rem;
                }
            }
            &.play {
                color: $Red;
            }
            &.pause {
                color: $Green;
            }
        }
        #player-volume {
            width: 75%;
            height: 100%;
            overflow: visible;
            #volume-range, input {
                overflow: visible;
            }
            @include Responsive {
                width: 60%;
            }
        }
        #player-mute {
            i {
                color: $Comment;
                cursor: pointer;
                font-size: 48px;
                @include Responsive {
                    font-size: 5rem;
                }
            }
            &.muted i {
                color: $Red;
            }
        }
    }
}