@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap");

$Noto: "Noto Sans KR", sans-serif;
$Raleway: "Raleway", sans-serif;
$Gamja: "Gamja Flower", cursive;
$Mono: "Roboto Mono", monospace;
$Roboto: "Roboto", sans-serif;

// Tomorrow Night Blue Colors
$Background: #002451;
$CurrentLine: #00346E;
$Selection: #003F8E;
$Foreground: #FFFFFF;
$Comment: #7285B7;
$Red: #FF9DA4;
$Orange: #FFC58F;
$Yellow: #FFEEAD;
$Green: #d1F1A9;
$Aqua: #99FFFF;
$Blue: #BBDAFF;
$Purple: #EBBBFF;
$Black: #001126;
$Dark: #001733;
$Dim: #001C40;

@mixin Responsive {
    @media (max-width: 1024px) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
    position: relative;
}

body {
    width: 100vw;
    height: 100vh;
    color: $Foreground;
    font-family: $Roboto;
    background-color: $Background;
    #root {
        width: 100%;
        height: 100%;
    }
}

#app {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 75px 1fr / 1fr;
    @include Responsive {
        grid-template: 10% 1fr / 1fr;
    }
}

section {
    width: 100%;
    height: 100%;
    display: grid;
    &.board {
        grid-template: 1fr 150px / 1fr;
        @include Responsive {
            grid-template: 1fr 20% / 1fr;
        }
    }
}

@import "./comp/volrange.scss";
@import "./comp/loading.scss";
@import "./comp/header.scss";
@import "./comp/player.scss";
@import "./comp/board.scss";
@import "./comp/about.scss";
@import "./comp/home.scss";
@import "./comp/menu.scss";